<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}SpaceX Data Explorer{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" href="/img/brand/favicon.ico" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/css/argon.css?v=1.2.0" type="text/css">
</head>
<body>
{% include 'nav.html.twig' %}
<div class="main-content" id="panel">
    {% include 'topnav.html.twig' %}
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                {% block header %}{% endblock header %}
            </div>
        </div>
    </div>
    <div class="container-fluid mt--6">
        {% block content %}
        {% endblock content %}
        {% include 'footer.html.twig' %}
    </div>
</div>

<!-- Argon Scripts -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/js-cookie/js.cookie.js"></script>
<script src="/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="/js/argon.js?v=1.2.0"></script>

{% block javascripts %}{% endblock %}

</body>
</html>

